#todo-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.5rem;

    & ul {
        list-style-type: none;
        width: 100%;
    }

    & .flex-column {
        background-color: #AEAEAE;
        border-radius: 0.25rem;
        padding: 2rem;
        row-gap: 1rem;

        & input {
            width: 20rem;
        }
    }
}
